
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.note {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(247, 93, 79);
    color: rgb(50, 0, 0);
    padding: 25px 100px;
    border-radius: 15px;
}

p {
    font-size: 1.5rem;
    font-family: sans-serif;
}
